
<html>
<head>
    <title>MVAC</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Beauty Spa Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    @*<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">*@

    <link href="~/Contextnew/css/bootstrap.css" rel="stylesheet" />


    <!--//booststrap end-->
    <!-- font-awesome icons -->
    @*<link href="css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Contextnew/css/font-awesome.css" rel="stylesheet" />

    <!-- //font-awesome icons -->
    <!-- menu -->
    @*<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />*@

    <link href="~/Contextnew/css/cm-overlay.css" rel="stylesheet" />

    <!-- //menu -->
    @*<link href="css/jquery.fatNav.css" rel="stylesheet" type="text/css">*@
    <link href="~/Contextnew/css/jquery.fatNav.css" rel="stylesheet" />


    <!--stylesheets-->
    @*<link href="css/style.css" rel='stylesheet' type='text/css' media="all">*@

    <link href="~/Contextnew/css/style.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">*@
    <link href="~/Contextnew/css/owl.carousel.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="css/lightbox.css">*@
    <link href="~/Contextnew/css/lightbox.css" rel="stylesheet" />
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">







    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <!-- Bootstrap-Core-CSS -->
    <link href="~/Context/css/bootstrap1.css" rel="stylesheet" />
    <!-- pop up box -->
    <link href="~/Context/css/popuo-box1.css" rel="stylesheet" />
    <!-- gallery light box -->
    <link href="~/Context/css/lsb1.css" rel="stylesheet" />
    <!-- Style-CSS -->
    <link href="~/Context/css/style1.css" rel="stylesheet" />
    <!-- Font-Awesome-Icons-CSS -->
    <link href="~/Context/css/fontawesome-all1.css" rel="stylesheet" />
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Paytone+One&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montez" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //Web-Fonts -->




    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Anchor Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    @*<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">*@

    <link href="~/Contextnew/css/bootstrap.css" rel="stylesheet" />


    <!--//booststrap end-->
    <!-- font-awesome icons -->
    @*<link href="css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Contextnew/css/font-awesome.css" rel="stylesheet" />

    <!-- //font-awesome icons -->
    <!-- menu -->
    @*<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />*@

    <link href="~/Contextnew/css/cm-overlay.css" rel="stylesheet" />

    <!-- //menu -->
    @*<link href="css/jquery.fatNav.css" rel="stylesheet" type="text/css">*@
    <link href="~/Contextnew/css/jquery.fatNav.css" rel="stylesheet" />


    <!--stylesheets-->
    @*<link href="css/style.css" rel='stylesheet' type='text/css' media="all">*@

    <link href="~/Contextnew/css/style.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">*@
    <link href="~/Contextnew/css/owl.carousel.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="css/lightbox.css">*@
    <link href="~/Contextnew/css/lightbox.css" rel="stylesheet" />
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">








</head>

<body data-spy="scroll" data-target=".fixed-top" style="background:none; background-color:gainsboro; text-decoration-style:solid;text-align:center">

    <div class="agileits_main jarallax">
        <h2 class="navbar-brand brand-name" style="padding-left:50px">
            <a href="index.html">
                <img style="height:100px;width:100px" class="img-responsive2"
                     src="~/Contextnew/tutorialimages/logo.jpeg" />
            </a>
        </h2>

        <div class="container-fluid">
            <div class="w3ls-header">
                <div class="w3layouts-header-top">
                    <div class="w3-header-top-grids">
                        <div class="w3-header-top-left">
                            <div class="agileinfo-social-grids">
                            </div>
                        </div>
                        <div class="w3-header-top-right">

                            <div class="w3-header-top-right-text">
                                <p><span class="fa fa-home" aria-hidden="true"></span> PO Box 2508 Fairview North Plot 1160 Manzini Swaziland</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="w3-agile-logo">
                    <div class="head-wl">
                        <div class="email">
                            <p><span class="fa fa-envelope" aria-hidden="true"></span> <a href="mailto:Atipas@outlook.com" class="info"> Atipas@outlook.com</a></p>

                        </div>
                        <div class="headder-w3">
                            <h1><a href=@Url.Action("Index", "Home")>MVAC</a></h1>
                        </div>
                        <div class="tele">
                            <p><span class="fa fa-phone" aria-hidden="true"></span> +268 78446356</p>
                        </div>

                        
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="w3layouts-nav-right">
                    <div class="fat-nav">
                        <div class="fat-nav__wrapper">
                            <ul>
                                <li><a href=@Url.Action("Index", "Home")>Home</a></li>
                                @*<li><a href="#about" class="scroll">Our Plans</a></li>*@
                                <li><a href=@Url.Action("OnlinePayment", "Home")>Our Plans</a></li>
                                @*<li><a href="#gallery" class="scroll">Tutorial</a></li>
                                <li><a href="#services" class="scroll">Services</a></li>*@
                                @*<li><a href="#clients" class="scroll">Clients</a></li>
                                <li><a href="#contact" class="scroll">Contact</a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>







        <div class="jumbotron" style=" align-self:center; background:white;padding-top:2%; padding-bottom:2%; margin-left:10%; margin-right:10%; border:groove">
            @RenderBody()
        </div>


        <!-- footer -->
        <footer class="text-center py-sm-5 py-4">
            <div class="container" style="background-color:transparent">
                <div class="footer-posi-agileinfo" style="background-color:transparent">
                    <h2 class="logo-2 font-weight-bold" style="background-color:transparent">
                        @*<a href="@Url.Action("HomePage","Home")" class="text-dark">
                            MVAC<span></span>
                        </a>*@

                        <a href="@Url.Action("HomePage","Home")" class="text-dark">MVAC</a>

                    </h2>
                    <!-- copyright -->
                    <p class="copy-right-grids">
                        © 2020 MVAC. All Rights Reserved
                    </p>
                    <!-- //copyright -->
                </div>
            </div>
        </footer>
        <!-- //footer -->
        <!-- Js files -->
        <!-- JavaScript -->
        <script src="~/Context/js/jquery-2.2.3.min.js"></script>
        <!-- Default-JavaScript-File -->
        <!-- Necessary-JavaScript-File-For-Bootstrap -->
        <script src="~/Context/js/bootstrap.js"></script>
        <!-- Text effect -->
        <script src="~/Context/js/text_effect.js"></script>

        <!-- pop-up-box -->
        <script src="~/Context/js/jquery.magnific-popup.js"></script>
        <!-- particles (bg effect) -->
        <script src="~/Context/js/jquery.canvas.particles.min.js"></script>
        <!-- gallery light box -->
        <script src="~/Context/js/lsb.min.js"></script>
        <!-- smooth scrolling -->
        <script src="~/Context/js/SmoothScroll.min.js"></script>
        <!-- move-top -->
        <script src="~/Context/js/move-top.js"></script>
        <!-- easing -->
        <script src="~/Context/js/easing.js"></script>
        <!--  necessary snippets for few javascript files -->
        <script src="~/Context/js/beauty_spa.js"></script>
        <!-- //Js files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="@Url.Content("~/js/bootstrap.js")"></script>













        <!-- js -->
        @*<script type='text/javascript' src='js/jquery-2.2.3.min.js'></script>*@

        <script src="~/Contextnew/js/jquery-2.2.3.min.js"></script>


        <!-- //js -->
        <!--menu script-->
        @*<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>*@

        <script src="~/Contextnew/js/modernizr-2.6.2.min.js"></script>

        @*<script src="js/bootstrap.min.js"></script>*@
        <script src="~/Contextnew/js/bootstrap.min.js"></script>





        <!--navbar script-->
        @*<script src="js/jquery.fatNav.js"></script>*@

        <script src="~/Contextnew/js/jquery.fatNav.js"></script>

        <script>
            (function () {

                $.fatNav();

            }());
        </script>
        <!--banner slider script-->


        <script src="~/Contextnew/js/responsiveslides.min.js"></script>

        <script>
            // You can also use "$(window).load(function() {"
            $(function () {
                // Slideshow 4
                $("#slider4").responsiveSlides({
                    auto: true,
                    pager: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    before: function () {
                        $('.events').append("<li>before event fired.</li>");
                    },
                    after: function () {
                        $('.events').append("<li>after event fired.</li>");
                    }
                });

            });
        </script>

        <!--client carousel -->
        @*<script src="js/owl.carousel.js"></script>*@

        <script src="~/Contextnew/js/owl.carousel.js"></script>

        <script>
            $(document).ready(function () {
                $("#owl-demo").owlCarousel({
                    items: 1,
                    itemsDesktop: [768, 1],
                    itemsDesktopSmall: [414, 1],
                    lazyLoad: true,
                    autoPlay: true,
                    navigation: true,

                    navigationText: false,
                    pagination: true,

                });

            });
        </script>
        <!-- //carousel -->
        <!-- gallery-pop-up -->
        @*<script src="js/jquery.chocolat.js"></script>*@
        <script src="~/Contextnew/js/jquery.chocolat.js"></script>



        <link rel="stylesheet" href="css/chocolat.css" type="text/css" media="screen">
        <!--light-box-files -->
        <script type="text/javascript">
            $(function () {
                $('.agileinfo_portfolio_grid a').Chocolat();
            });
        </script>
        <!-- //gallery-pop-up -->
        <!-- start-smoth-scrolling -->
        @*<script type="text/javascript" src="js/move-top.js"></script>*@
        <script src="~/Contextnew/js/move-top.js"></script>

        @*<script type="text/javascript" src="js/easing.js"></script>*@

        <script src="~/Contextnew/js/easing.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->







        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderSection("stripe", required: false)
    </div>



</body>

</html>